* {
  font-family: 'Roboto', sans-serif;
}
header  {
  position: relative;
}
nav {
  height: 50px;
  background: #212121;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style: none;
}

.menu_link {


font-weight: 300;
font-size: 15px;
color: #FFFFFF;
}

.menu_item {
  border-right: 2px dotted black;
  padding-right: 28px;
}

.subheader {
  position: absolute;
  width: 100%;
  height: 87px;
  background-color: rgba(0, 0, 0, .6);
}

.subheader_link {
  display: block;
  max-width: 100%;
  margin-top: 10px;
}

.subheader_official {


  margin-top: 6px;
  font-weight: 100;
  font-size: 13px;
  color: #FFFFFF;
}

.subheader_call {


margin-top: 19px;
font-weight: 300;
font-size: 12px;
align-items: center;
text-align: right;
color: #FFFFFF;
}
.subheader_number {



font-weight: 400;
font-size: 22px;
display: block;
align-items: center;
text-align: right;
text-transform: uppercase;
color: #FFFFFF;
}


.subheader_btn {

  margin-top: 20px;
width: 172px;
height: 46px;
background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
border-radius: 4px;
height: 46px;
border: none;

font-weight: 400;
font-size: 14px;
line-height: 46px;
align-items: center;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.promo {
  min-height: 800px;
  background: url(../img/1_first_screen/uber_bg.png) center center/cover no-repeat;
  padding: 150px 0 135px 0;
  
}

.promo_header {



font-weight: 900;
font-size: 60px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
line-height: 60px;
margin: 0;
}
.promo_subheader {

font-weight: 900;
font-size: 36px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
line-height: 36px;
margin: 0;
margin-top: 22px;
}
.promo_desc {
  margin-top: 23px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;

}
.promo_btn {
  display: block;
  margin: 118px auto 0 auto;
  width: 259px;
  height: 63px;
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 63px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.reasons {
  margin-top: 18px;
  margin-bottom: 64px;

}
.reasons_advantage {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 115px;
  height: 27px;
  background: #000000;
  font-weight: 400;
  font-size: 11px;
  line-height: 11px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0 auto;
  
}
.resons_desc {
  margin-top: 32px;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
}


.col-6 {
  display: inline-flex;
  align-items: center;
  padding-left: 33px;
  margin-top: 30px;
  
  
  
  
  
}
.reasons_img {
  display: flex;
  width: 116px;
  height: 116px;
  background: #1EACC7;
  margin-right: 25px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;


}

.reasons_img img {
  display: block;
  
  
}

.reasons_desc {
  
  
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  
  color: #202020;
  width: 371px;
  
}

.reasons_desc .reasons_blue_desc {
  
  color: #1EACC7;
}